<!-- auto collapse happens because of nzBreakpoint we set -->

<nz-sider
  #sidenav
  class="menu-sidebar"
  nzCollapsible
  nzWidth="16rem"
  nzBreakpoint="md"
  [nzCollapsedWidth] = "0"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
  (nzCollapsedChange)="autoCollapsedChanged($event)"
  >
  <div class="close-icon-bar">
    <button nz-button nzType="default" style="border-radius: 0;" (click)="closeMenu()">
      <nz-icon nzType="close" />
    </button>
  </div>
  <!-- <div class="sidebar-logo">
    <a [href]="this.companyConfig?.companyLink??'/'">
      <img [src]="this.companyConfig?.logo?? this.companyConfig?.logo?? '' " alt="logo" />
      <h1>{{this.companyConfig?.companyName??''}}</h1>
    </a>
  </div> -->

  <!-- Pass the menuItems as input to the app-menu component -->
  <app-menu [isCollapsed]="isCollapsed" [menuItems]="menuItems"></app-menu>
</nz-sider>
