<!-- app-sidenav.component.html
<nz-sider 
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
  
  <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
      <h1>Ant Design of Angular</h1>
    </a>
  </div>
  
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Welcome</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Monitor</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Workplace</a>
        </li>
      </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a>Basic Form</a>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nz-sider> -->


<nz-sider
  #sidenav
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [nzCollapsedWidth] = "0"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null">
  
  <div class="sidebar-logo">
    <a [href]="this.companyConfig?.companyLink??'/'">
      <img [src]="this.companyConfig?.logo?? this.companyConfig?.logo?? '' " alt="logo" />
      <h1>{{this.companyConfig?.companyName??''}}</h1>
    </a>
  </div>

  <!-- Pass the menuItems as input to the app-menu component -->
  <app-menu [isCollapsed]="isCollapsed" [menuItems]="menuItems"></app-menu>
</nz-sider>
