<nz-layout class="app-layout">
    <app-sidenav [isCollapsed]="isCollapsed" (isAutoCollapsedChange)="handleAutoCollapseChanged($event)" (isMenuClosed)="closeMenu()"></app-sidenav>
    <nz-layout>
      <app-topnav [isCollapsed]="isCollapsed" (toggleCollapse)="toggleCollapse()"></app-topnav>
      <nz-content>
        <div id="inner-content" class="inner-content" [ngStyle]="isAutoCollapsed ? {'margin-left': '1rem'} : 
        isCollapsed? { 'margin-left': '1rem' } : { 'margin-left': '17rem', 'transition' : 'all 0.3s' }">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>


<app-scroll-top scrollTopTarget="#inner-content"></app-scroll-top>
<app-float-buttons></app-float-buttons>
  