<!-- app-topnav.component.html -->
<nz-header>
    <div nz-flex [nzVertical]="false" class="app-header" nzJustify="space-between">
        <div nz-flex class="flex-item">
            <div class="flex-item" >
                <span class="header-trigger" (click)="onCollapseToggle()">
                    <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"/>
                </span>
            </div>
            <div class="flex-item even logo-section">
                <a [href]="this.companyConfig?.companyLink??'/'">
                    <img [src]="this.companyConfig?.logo?? this.companyConfig?.logo?? '' " alt="logo" />
                    <h1>{{this.companyConfig?.companyName??''}}</h1>
                  </a>
            </div>
        </div>
        <div class="flex-item profile-avatar">
            <nz-avatar nzSize="large" nzIcon="user" nz-dropdown nzTrigger="hover" [nzDropdownMenu]="menu"></nz-avatar>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>1st menu item</li>
                  <li nz-menu-item>2nd menu item</li>
                  <li nz-menu-divider></li>
                  <li nz-menu-item nzDisabled>disabled menu item</li>
                  <li nz-submenu nzTitle="sub menu">
                    <ul>
                      <li nz-menu-item>3rd menu item</li>
                      <li nz-menu-item>4th menu item</li>
                    </ul>
                  </li>
                  <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                    <ul>
                      <li nz-menu-item>3rd menu item</li>
                      <li nz-menu-item>4th menu item</li>
                    </ul>
                  </li>
                </ul>
              </nz-dropdown-menu>
        </div>
      </div>
    <!-- <div class="app-header">
        <span class="header-trigger" (click)="onCollapseToggle()">
        <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"/>
        </span>
    </div> -->
    
</nz-header>
  